
  <div class="row">
    <div class="col-6 text-start">
      <button type="button" class="btn btn-outline-secondary" routerLink="/ventes" ><i class="bi bi-arrow-return-left"></i> sales</button>

    </div>
    <div class="col-6 text-end mb-3">
      <div class="btn-group custom-dropdown dropend">
        <button type="button" class="btn btn-secondary rounded-circle" data-bs-toggle="dropdown" aria-expanded="false">
          :
        </button>
        <ul class="dropdown-menu">
          <li>
            <button type="button" class="dropdown-item"  (click)="captureScreen()"><i class="bi bi-download"></i> Get bill</button>
          </li>
          <li><button class="dropdown-item" [routerLink]="['/editVente/',vente.id]"><i class="bi bi-pencil-square text-primary"></i> Edit</button>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- content -->
<div id="contentToConvert">
  <h1 class="text-center text-secondary">Bill</h1>
  <br>
  <br>
  <br>
  <table class="table">
    <thead>
      <tr>
        <th>Sale code</th>
        <th>Client Name</th>
        <th>Date Vente</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ vente.id }}</td>
        <td>{{ vente.client.fName }} {{ vente.client.lName }}</td>
        <td>{{ vente.dateVente | date: 'MM/dd/yyyy' }}</td>
      </tr>
    </tbody>
  </table>
  
  <!-- Vente Lines Table -->
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Line nubmer</th>
        <th>Article Sold</th>
        <th>Quantity Sold</th>
        <th>Total Price</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let venteLine of vente.venteLines">
        <td >{{ venteLine.id }}</td>
        <td>{{ venteLine.articlelebelle }}</td>
        <td>{{ venteLine.qtySold }}</td>
        <td>{{ (venteLine.totalPrice | number:'1.2-2')+ ' MAD' }}</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Total Quantity Sold = {{vente.qtyTotal}}</td>
        <td> Total amount = {{ (vente.totalAmount | number:'1.2-2')+' MAD' }} </td>
      </tr>
    </tbody>
  </table>
</div>

  
