<div class="card">
<div class="card-header">
 
  <div class="row">
    <div class="col-6 text-start">
      <button type="button" class="btn btn-outline-secondary" routerLink="/ventes" ><i class="bi bi-arrow-return-left"></i> sales</button>
    </div>
    
    <div class="col-4 text-end mb-3">
      <div class="btn-group custom-dropdown dropend">
        <button type="button" class="btn btn-secondary rounded-circle" data-bs-toggle="dropdown" aria-expanded="false">
          :
        </button>
        <ul class="dropdown-menu">
           <li *ngIf="showValidButton">
            <button type="button" class="dropdown-item"  (click)="validSale(vente.id)"><i class="bi bi-check text-success"> </i> Valid </button>
          </li>
          <li *ngIf="!showValidButton">
            <button type="button" class="dropdown-item"  (click)="InvalidSale(vente.id)"><i class="bi bi-exclamation-diamond-fill text-warning"> </i> Invalid</button>
          </li> 
          <li>
            <button type="button" class="dropdown-item"  (click)="captureScreen()"><i class="bi bi-download"></i> Get bill</button>
          </li>
          <li *ngIf="!vente.isValid"><button class="dropdown-item" [routerLink]="['/editVente/',vente.id]"><i class="bi bi-pencil-square text-primary"></i> Edit</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
  <!-- content -->
<div id="contentToConvert">
  <div class="row">
    <div class="col-12 text-center text-danger">
      <img *ngIf="!vente.isValid" src="../../assets/images/Icons/important-clipart-warning-7-removebg-preview.png" width="30px;" height="30px;" alt="">
      <img *ngIf="vente.isValid" src="../../assets/images/Icons/vector-valid-icon-removebg-preview.png" width="40px;" height="40px;" alt="" srcset="">
    </div>
  </div>
  <h1 class="text-center text-secondary">Bill</h1>
  <br>
  
  <br>
  <br>
  <table class="table" *ngIf="!isLoading">
    <thead>
      <tr>
        <th>Sale code</th>
        <th>Client Name</th>
        <th>Date Vente</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ vente.id }}</td>
        <td>{{ vente.clientName}}</td>
        <td>{{ vente.dateVente | date: 'MM/dd/yyyy' }}</td>
      </tr>
    </tbody>
  </table>
  <!-- load -->
 <div *ngIf="isLoading" class="flex flex-wrap align-items-center justify-content-center">
  <div class="socket">
    <div class="gel center-gel">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c1 r1">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c2 r1">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c3 r1">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c4 r1">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c5 r1">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c6 r1">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    
    <div class="gel c7 r2">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    
    <div class="gel c8 r2">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c9 r2">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c10 r2">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c11 r2">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c12 r2">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c13 r2">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c14 r2">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c15 r2">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c16 r2">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c17 r2">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c18 r2">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c19 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c20 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c21 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c22 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c23 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c24 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c25 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c26 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c28 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c29 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c30 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c31 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c32 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c33 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c34 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c35 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c36 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c37 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    
  </div>
</div> 
  <!-- Vente Lines Table -->
  <table class="table table-hover" *ngIf="!isLoading">
    <thead>
      <tr>
        <!-- <th>Line nubmer</th> -->
        <th>Article Sold</th>
        <th>Quantity Sold</th>
        <th>Sale price</th>
        <th>Total Price</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let venteLine of vente.venteLines">
        <!-- <td >{{ venteLine.id }}</td> -->
        <td>{{ venteLine.articlelebelle }}</td>
        <td>{{ venteLine.qtySold }}</td>
        <td>{{ (venteLine.salePrice | number:'1.2-2')+ ' MAD' }}</td>
        <td>{{ (venteLine.totalPrice | number:'1.2-2')+ ' MAD' }}</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Total Quantity Sold = {{vente.qtyTotal}}</td>
        <td> Total amount = {{ (vente.totalAmount | number:'1.2-2')+' MAD' }} </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
  
