<!-- Add the "new client" button here -->
<div class="row">
  <div class="text-start b-3 col-6"><button class="btn btn-outline-success" (click)="createClient()">
  <span>{{'::NewClient' | abpLocalization}}</span>
</button></div>
<div class="row">
  <h2 class="text-center bg-warning mb-4 mt-4">List Of all Clients</h2>
</div>

 <table class="table table-warning">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">First name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone number</th>
        <th scope="col text-end">Actions</th>
        <th scope="col"></th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of client; let i=index">
        <td><i class="fa fa-star-o" aria-hidden="true"></i></td>
        <td>{{client.fName}}</td>
        <td>{{client.lName}}</td>
        <td>{{client.email}}</td>
        <td>{{client.phoneNumber}}</td>
        <td><button class="btn btn btn-outline-info" (click)=" editClient(client.id)">Edit client</button></td>
        <td><button class="btn btn-outline-danger" (click)="delete(client.id)">Delete Client</button>
        </td>
      </tr>
      
     
    </tbody>
  </table> 
  <!--  -->
  
<!-- <button class="btn btn-primary" (click)="isModalOpen = true">Ajouter client</button> -->

<abp-modal [(visible)]="isModalOpen">
  <ng-template #abpHeader>
    <h3>{{ (selectClient.id ? '::Edit' : '::NewClient' ) | abpLocalization }}</h3>
  </ng-template>
 

  <ng-template #abpBody>
     <form [formGroup]="form" (ngSubmit)="save()">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingfName" formControlName="fName" placeholder="Ex:Hamza,..." autofocus="" >
      <label for="floatingName">First name</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatinglName" formControlName="lName" placeholder="Ex:Ben,...">
      <label for="floatingName">Last name</label>
    </div><div class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingEmail" formControlName="email" placeholder="Ex:xxxx@gmail.com" >
      <label for="floatingEmail">Email</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingPhone" formControlName="phoneNumber" placeholder="Ex;06/7XXXXXXXX" maxlength="10"  >
      <label for="floatingPhone">Phone number</label>
    </div>

  </form>  
  </ng-template>

  <ng-template #abpFooter>
    <button type="button" class="btn btn-secondary" abpClose>Close</button>
     <!--added save button-->
  <button class="btn btn-primary" (click)="save()" [disabled]="form.invalid">
    <i class="fa fa-check mr-1"></i>
    Ajouter
</button>
  </ng-template>
</abp-modal>

<!-- script -->
