
<!-- Add the "new client" button here -->
<div class="card">
  <div class="card-header">
<div class="row mt-5">
  <div class="text-end b-3"><button class="btn btn-outline-primary" (click)="createClient()">
    <i class="bi bi-person-plus"></i> <span>  {{'::NewClient' | abpLocalization}}</span>
</button>
</div>

<div class="row">
  <h2 class="text-start text-secondary mb-4 mt-4" *ngIf="!isLoading">Clients list</h2>
</div>

 <!-- load -->
 <div *ngIf="isLoading" class="flex flex-wrap align-items-center justify-content-center">
  <div class="socket">
    <div class="gel center-gel">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c1 r1">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c2 r1">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c3 r1">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c4 r1">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c5 r1">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c6 r1">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    
    <div class="gel c7 r2">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    
    <div class="gel c8 r2">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c9 r2">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c10 r2">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c11 r2">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c12 r2">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c13 r2">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c14 r2">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c15 r2">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c16 r2">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c17 r2">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c18 r2">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c19 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c20 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c21 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c22 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c23 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c24 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c25 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c26 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c28 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c29 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c30 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c31 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c32 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c33 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c34 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c35 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c36 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c37 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    
  </div>
</div>
</div>
<!-- <div *ngIf="isLoading" class="flex flex-wrap align-items-center justify-content-center">
  <div class="fadein animation-duration-2000 animation-iteration-infinite flex align-items-center justify-content-center
      font-bold  border-round m-2 px-5 py-3">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
  </div>
</div> -->
<ngx-datatable [rows]="clients.items" [count]="clients.totalCount" [list]="list" default>
  <ngx-datatable-column
    [name]="'::Actions' | abpLocalization"
    [maxWidth]="180"
    [sortable]="false"
  >
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div class="btn-group custom-dropdown dropend" container="body" class="d-inline-block">
        <button type="button" class="btn btn-secondary btn-sm rounded-circle" data-bs-toggle="dropdown" aria-expanded="false">
          :
        </button>
        <ul class="dropdown-menu">
          <li><button class="dropdown-item" (click)="editClient(row.id)"><i class="bi bi-pencil-square text-primary"></i> Edit</button>
          </li>
          <li><button class="dropdown-item" (click)="delete(row.id)"><i class="bi bi-x-lg text-danger"></i> Delete</button></li>
        </ul>
      </div>
      <!-- <div ngbDropdown container="body" class="d-inline-block">
        <button
          class="btn btn-default btn-sm text-black"
          data-toggle="dropdown"
          aria-haspopup="true"
          ngbDropdownToggle
        >
          <i class="fa fa-cog me-1"></i>
        </button>
        <div ngbDropdownMenu>
          <button  ngbDropdownItem (click)="editAuthor(row.id)">
            Edit
          </button>
          <button  ngbDropdownItem (click)="delete(row.id)">
            Delete
          </button>
        </div>
      </div> -->
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="First Name" prop="fName"></ngx-datatable-column>
  <ngx-datatable-column name="Last Name" prop="lName"></ngx-datatable-column>
  <ngx-datatable-column name="Email address" prop="lName" prop="email"></ngx-datatable-column>
  <ngx-datatable-column name="Phone Number" prop="lName" prop="phoneNumber"></ngx-datatable-column>
</ngx-datatable>
<!-- <table class="table table-striped table-hover" *ngIf="!isLoading">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">First name</th>
        <th scope="col">
          Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone number</th>
        <th scope="col text-end">Actions</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clients; let i=index">
        <td><i class="bi bi-person"></i></td>
        <td class="text-black">{{client.fName}}</td>
        <td class="text-black">{{client.lName}}</td>
        <td class="text-black">{{client.email}}</td>
        <td class="text-black">{{client.phoneNumber}}</td>
        <td>
         
          <div class="btn-group custom-dropdown dropend">
            <button type="button" class="btn btn-secondary rounded-circle" data-bs-toggle="dropdown" aria-expanded="false">
              :
            </button>
            <ul class="dropdown-menu">
              <li><button class="dropdown-item" (click)="editClient(client.id)"><i class="bi bi-pencil-square text-primary"></i> Edit</button>
              </li>
              <li><button class="dropdown-item" (click)="delete(client.id)"><i class="bi bi-x-lg text-danger"></i> Delete</button></li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>  -->
<abp-modal class="modal-dialog modal-dialog-centered modal-dialog-scrollable" [(visible)]="isModalOpen">
  <ng-template #abpHeader>
    <h3>{{ (selectedClient.id ? '::Edit' : '::NewClient' ) | abpLocalization }}</h3>
  </ng-template>
  <ng-template #abpBody>
     <form [formGroup]="form" (ngSubmit)="save()">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingfName" formControlName="fName" placeholder="Ex:Hamza,..." autofocus="" >
      <label for="floatingName">First name</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatinglName" formControlName="lName" placeholder="Ex:Ben,...">
      <label for="floatingName">Last name</label>
    </div><div class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingEmail" formControlName="email" placeholder="Ex:xxxx@gmail.com" >
      <label for="floatingEmail">Email</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingPhone" formControlName="phoneNumber" placeholder="Ex;06/7XXXXXXXX" maxlength="10"  >
      <label for="floatingPhone">Phone number</label>
    </div>

  </form>  
  </ng-template>

  <ng-template #abpFooter>
    <button type="button" class="btn btn-outline-secondary" abpClose>Close</button>
     <!--added save button-->
  <button class="btn btn-outline-primary" (click)="save()" [disabled]="form.invalid">
    <i class="fa fa-check mr-1"></i>
    Valid
</button>
  </ng-template>
</abp-modal>
</div>
<!-- script -->
