<div *ngIf="article" class="ms-5 mb-4">
    
    <div class="row">
        <div class="col-4 image-column">
         <img [src]="article.image" [alt]="article.libelle" width="400" >
        </div>
        <div class="col-1 vertical-line"></div>
        <div class="col-4 ">
            <h1 class="text-secondary">{{ article.libelle }}</h1>
            <br>
            <hr>
            <p><b class="text-black">Price:</b> {{ (article.price | number:'1.2-2')+' MAD' }} </p>
            <hr>
            <p class="mt-4"><b>Description:</b> {{ article.description }}</p>           
            
            <hr>
            <p><b>Quantity in stock:</b> {{ article.quantityinStock }} {{article.libelle}}</p>
     </div>
    </div>
  
  </div>
  
