<div *ngIf="article" class="mb-4">
    <h1 class="">{{ article.libelle }}</h1>
    <div class="row">
        <div class="col-4 image-column">
         <img [src]="article.image" [alt]="article.libelle" width="500">
        </div>
        <div class="col-1 vertical-line"></div>
        <div class="col-7 ">
            <p class="mt-4"><b>Description:</b> {{ article.description }}</p>
            <p><b>Price:</b> {{ article.price }} DH</p>
            <p><b>Quantity in stock:</b> {{ article.quantityinStock }} {{article.libelle}}</p>
     </div>
    </div>
  
  </div>
  
