.vertical-line {
    border-right: 6px solid black; 
    height: 100%; 
  }
  .image-column {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ensures the image is vertically centered */
  }
  p{
    font-size: large;
  }