<!-- Add the "new article" button here -->
<div class="justify-content-end mb-3"><button class="btn btn-primary" (click)="createarticle()">
  <span>{{'::Newarticle' | abpLocalization}}</span>
</button></div>
<table class="table table-striped">
    <thead>
      <tr class="table-active">
        <th scope="col"></th>
        <th scope="col">Title</th> 
        <th scope="col">Description</th>
        <th scope="col">Image</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let article of articles;let i=index">
        <td scope="col">{{i+1}}</td>
        <td>{{article.libelle}}</td>
        <td>{{article.description}}</td>
        <td><img [src]="article.image" width="65" height="50"></td>
        <td>{{article.price}} DH</td>
        <td>{{article.quantityinStock}}</td>
        <td><button class="btn btn-primary" (click)=" editArticle(article.id)">Edit article</button></td>
        <td><button class="btn btn-warning" (click)="delete(article.id)">Delete Article</button></td>
      </tr>
    </tbody>
  </table>
  <abp-modal [(visible)]="isModalOpen">
    <ng-template #abpHeader>
      <h3>{{ (selectedArticle.id ? '::Edit' : '::Newarticle' ) | abpLocalization }}</h3>
    </ng-template>
   
  
    <ng-template #abpBody>
      <form [formGroup]="form" (ngSubmit)="save()">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingLibelle" formControlName="libelle" placeholder="Ex:Laptop" autofocus>
        <label for="floatingLibelle">Title</label>
      </div>
       <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingImage"  formControlName="image" placeholder="Ex:image" accept="image/*"  >
        <label for="floatingImage">Image</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingDescription" formControlName="description" placeholder="Ex:describe the artic">
        <label for="floatingDescription">Description</label>
      </div>
     
      <div class="form-floating mb-3">
        <input type="number" class="form-control" id="floatingPrice" formControlName="price" placeholder="Ex:00.00 " maxlength="10" >
        <label for="floatingPrice">Price (DH)</label>
      </div>
      <div class="form-floating mb-3">
        <input type="number" class="form-control" id="floatingiQuant" formControlName="quantityinStock" placeholder="Ex:2" maxlength="10" >
        <label for="floatingiQuant">Quantity in stock</label>
      </div>
  
    </form>  
    </ng-template>
  
    <ng-template #abpFooter>
      <button type="button" class="btn btn-secondary" abpClose>Close</button>
       <!--added save button-->
    <button class="btn btn-primary" (click)="save()" [disabled]="form.invalid">
      <i class="fa fa-check mr-1"></i>
      Submit
  </button>
    </ng-template>
  </abp-modal>