.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  }
  .selected-article {
    margin-bottom: 10px;
  }
  
  .selected-articles {
    margin-top: 20px;
  }