
<!-- OPEN MODAL button -->
<div class="card">
<div class="card-header">



<div class="row">
  <div class="text-end mb-3">
    <button class="btn btn-outline-primary" (click)="onCreate();">
      <i class="bi bi-plus-square-dotted"> </i> New sale
    </button>
  </div>
  
  <!--  -->
  <div class="col text-center">
    <h1 class="text-start text-secondary" *ngIf="!isLoading">Sales list</h1>
  </div>
</div>
</div>
<!-- load -->
<div *ngIf="isLoading" class="flex flex-wrap align-items-center justify-content-center">
  <div class="socket">
    <div class="gel center-gel">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c1 r1">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c2 r1">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c3 r1">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c4 r1">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c5 r1">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c6 r1">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    
    <div class="gel c7 r2">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    
    <div class="gel c8 r2">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c9 r2">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c10 r2">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c11 r2">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c12 r2">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c13 r2">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c14 r2">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c15 r2">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c16 r2">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c17 r2">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c18 r2">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c19 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c20 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c21 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c22 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c23 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c24 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c25 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c26 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c28 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c29 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c30 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c31 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c32 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c33 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c34 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c35 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c36 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    <div class="gel c37 r3">
      <div class="hex-brick h1"></div>
      <div class="hex-brick h2"></div>
      <div class="hex-brick h3"></div>
    </div>
    
  </div>
</div>
<div class="row">
  
  <!-- <div class="col" *ngIf="!isLoading"> <mat-paginator
    [length]="totalItems"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="onPageChange($event)">
  </mat-paginator></div> -->
</div>
<ngx-datatable [rows]="ventes.items" [count]="ventes.totalCount" [list]="list" default >
  <ngx-datatable-column
    [name]="'::Actions' | abpLocalization"
    [maxWidth]="200"
    [sortable]="false"
  >
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div class="btn-group custom-dropdown dropend" container="body" class="d-inline-block">
        <button type="button" class="btn btn-secondary btn-sm rounded-circle" data-bs-toggle="dropdown" aria-expanded="false">
          :
        </button>
        <ul class="dropdown-menu">
          <li><button class="dropdown-item" [routerLink]="['/saledetails/',row.id]"><i class="bi bi-info-circle text-info"></i> Details</button>
          </li>
          <li><button class="dropdown-item" [routerLink]="['/editVente/',row.id]"><i class="bi bi-pencil-square text-primary"></i> Edit</button></li>
          <li><button class="dropdown-item" (click)="deleteVente(row.id)"><i class="bi bi-x-lg text-danger"></i> Delete</button></li>
        </ul>
      </div>
    </ng-template>
  </ngx-datatable-column>
   <ngx-datatable-column name="Client Name" prop="clientName"></ngx-datatable-column>
  <ngx-datatable-column name="Sale date" prop="dateVente">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{ row.dateVente | date:'dd-MM-yyyy' }}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Quantity sold of articles" prop="qtyTotal"></ngx-datatable-column>
  <ngx-datatable-column name="Total Amount" prop="totalAmount" >
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{(row.totalAmount | number:'1.2-2') +' MAD'}}
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
<!-- <table class="table table-striped table-hover"  *ngIf="!loading">
    <thead>
      <tr>
        <th scope="col">Sale Code</th>
        <th scope="col">Sale date</th>
        <th scope="col">Client Name</th>     
        <th scope="col">Quantity sold</th>
        <th scope="col">Total Amount</th> 
        <th>Actions</th> 
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let vente of ventes.slice(pageIndex * pageSize, (pageIndex + 1) * pageSize);let i=index">  
        <tr>
          <td class="text-black">{{vente.id}}</td>
          <td class="text-black">{{ vente.dateVente | date: 'MM/dd/yyyy' }}</td>
          <td class="text-black">{{ vente.clientName}} </td>
          <td class="text-black">{{ vente.qtyTotal}} </td>
          <td class="text-black">{{ (vente.totalAmount |number:'1.2-2')+' MAD' }} </td>  
          <td>
            <div class="btn-group custom-dropdown dropend">
              <button type="button" class="btn btn-secondary rounded-circle" data-bs-toggle="dropdown" aria-expanded="false">
                :
              </button>
              <ul class="dropdown-menu">
                <li>
                  <button class="dropdown-item" [routerLink]="['/saledetails/',vente.id]"><i class="bi bi-info-circle text-info"></i> Get Bill</button>
                </li>
                <li><button class="dropdown-item" [routerLink]="['/editVente/',vente.id]"><i class="bi bi-pencil-square text-primary"></i> Edit</button>
                </li>
                <li><button class="dropdown-item"  (click)="deleteVente(vente.id)"><i class="bi bi-x-lg text-danger"></i> Delete</button></li>
              </ul>
            </div>
          </td>
           <td>
            <button class="btn btn-outline-primary" [routerLink]="['/editVente/',vente.id]"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
          </td> -->
           <!-- <td><button class="btn btn-outline-danger" (click)="deleteVente(vente.id)"><i class="bi bi-trash3"></i></button></td> 
        </tr>
      </ng-container>
    </tbody>
  </table> -->
</div>
  <br>
  <!--  -->

