
<h1 class="text-secondary text-start mb-4">Edit Sale</h1>
<!-- Vente Details Form -->
<!-- Vente Details Table -->
<form [formGroup]="venteForm" (ngSubmit)="editevente()">
<table class="table" *ngIf="!isLoading">
    <thead>
      <tr>
        <th>Sale code</th>
        <th>Client Name</th>
        <th>Date Vente</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="text" formControlName="venteCode" [value]="vente?.id" class="form-control" disabled></td>
        <td>
          <select id="clientId" formControlName="newcClientId"  class="form-control" required>
            <option [value]="null">Select client</option>
            <option [ngValue]="vente.client.id" >{{vente.client.fName}} {{vente.client.lName}}</option>
          </select>
        </td>
        <td><input type="datetime-local" formControlName="newDateVente" [value]="vente?.dateVente" class="form-control"></td>
      </tr>
    </tbody>
</table>
<div class="text-end mb-3 "><button type="button" class="btn btn-success rounded-circle" (click)="createArticle()">
  <i class="bi bi-plus-circle"></i>
</button></div>
 <!-- load -->
 <div *ngIf="isLoading" class="flex flex-wrap align-items-center justify-content-center">
    <div class="socket">
      <div class="gel center-gel">
        <div class="hex-brick h1"></div>
        <div class="hex-brick h2"></div>
        <div class="hex-brick h3"></div>
      </div>
      <div class="gel c1 r1">
        <div class="hex-brick h1"></div>
        <div class="hex-brick h2"></div>
        <div class="hex-brick h3"></div>
      </div>
      <div class="gel c2 r1">
        <div class="hex-brick h1"></div>
        <div class="hex-brick h2"></div>
        <div class="hex-brick h3"></div>
      </div>
      <div class="gel c3 r1">
        <div class="hex-brick h1"></div>
        <div class="hex-brick h2"></div>
        <div class="hex-brick h3"></div>
      </div>
      <div class="gel c4 r1">
        <div class="hex-brick h1"></div>
        <div class="hex-brick h2"></div>
        <div class="hex-brick h3"></div>
      </div>
      <div class="gel c5 r1">
        <div class="hex-brick h1"></div>
        <div class="hex-brick h2"></div>
        <div class="hex-brick h3"></div>
      </div>
      <div class="gel c6 r1">
        <div class="hex-brick h1"></div>
        <div class="hex-brick h2"></div>
        <div class="hex-brick h3"></div>
      </div>
      
      <div class="gel c7 r2">
        <div class="hex-brick h1"></div>
        <div class="hex-brick h2"></div>
        <div class="hex-brick h3"></div>
      </div>
      
      <div class="gel c8 r2">
        <div class="hex-brick h1"></div>
        <div class="hex-brick h2"></div>
        <div class="hex-brick h3"></div>
      </div>
      <div class="gel c9 r2">
        <div class="hex-brick h1"></div>
        <div class="hex-brick h2"></div>
        <div class="hex-brick h3"></div>
      </div>
      <div class="gel c10 r2">
        <div class="hex-brick h1"></div>
        <div class="hex-brick h2"></div>
        <div class="hex-brick h3"></div>
      </div>
      <div class="gel c11 r2">
        <div class="hex-brick h1"></div>
        <div class="hex-brick h2"></div>
        <div class="hex-brick h3"></div>
      </div>
      <div class="gel c12 r2">
        <div class="hex-brick h1"></div>
        <div class="hex-brick h2"></div>
        <div class="hex-brick h3"></div>
      </div>
      <div class="gel c13 r2">
        <div class="hex-brick h1"></div>
        <div class="hex-brick h2"></div>
        <div class="hex-brick h3"></div>
      </div>
      <div class="gel c14 r2">
        <div class="hex-brick h1"></div>
        <div class="hex-brick h2"></div>
        <div class="hex-brick h3"></div>
      </div>
      <div class="gel c15 r2">
        <div class="hex-brick h1"></div>
        <div class="hex-brick h2"></div>
        <div class="hex-brick h3"></div>
      </div>
      <div class="gel c16 r2">
        <div class="hex-brick h1"></div>
        <div class="hex-brick h2"></div>
        <div class="hex-brick h3"></div>
      </div>
      <div class="gel c17 r2">
        <div class="hex-brick h1"></div>
        <div class="hex-brick h2"></div>
        <div class="hex-brick h3"></div>
      </div>
      <div class="gel c18 r2">
        <div class="hex-brick h1"></div>
        <div class="hex-brick h2"></div>
        <div class="hex-brick h3"></div>
      </div>
      <div class="gel c19 r3">
        <div class="hex-brick h1"></div>
        <div class="hex-brick h2"></div>
        <div class="hex-brick h3"></div>
      </div>
      <div class="gel c20 r3">
        <div class="hex-brick h1"></div>
        <div class="hex-brick h2"></div>
        <div class="hex-brick h3"></div>
      </div>
      <div class="gel c21 r3">
        <div class="hex-brick h1"></div>
        <div class="hex-brick h2"></div>
        <div class="hex-brick h3"></div>
      </div>
      <div class="gel c22 r3">
        <div class="hex-brick h1"></div>
        <div class="hex-brick h2"></div>
        <div class="hex-brick h3"></div>
      </div>
      <div class="gel c23 r3">
        <div class="hex-brick h1"></div>
        <div class="hex-brick h2"></div>
        <div class="hex-brick h3"></div>
      </div>
      <div class="gel c24 r3">
        <div class="hex-brick h1"></div>
        <div class="hex-brick h2"></div>
        <div class="hex-brick h3"></div>
      </div>
      <div class="gel c25 r3">
        <div class="hex-brick h1"></div>
        <div class="hex-brick h2"></div>
        <div class="hex-brick h3"></div>
      </div>
      <div class="gel c26 r3">
        <div class="hex-brick h1"></div>
        <div class="hex-brick h2"></div>
        <div class="hex-brick h3"></div>
      </div>
      <div class="gel c28 r3">
        <div class="hex-brick h1"></div>
        <div class="hex-brick h2"></div>
        <div class="hex-brick h3"></div>
      </div>
      <div class="gel c29 r3">
        <div class="hex-brick h1"></div>
        <div class="hex-brick h2"></div>
        <div class="hex-brick h3"></div>
      </div>
      <div class="gel c30 r3">
        <div class="hex-brick h1"></div>
        <div class="hex-brick h2"></div>
        <div class="hex-brick h3"></div>
      </div>
      <div class="gel c31 r3">
        <div class="hex-brick h1"></div>
        <div class="hex-brick h2"></div>
        <div class="hex-brick h3"></div>
      </div>
      <div class="gel c32 r3">
        <div class="hex-brick h1"></div>
        <div class="hex-brick h2"></div>
        <div class="hex-brick h3"></div>
      </div>
      <div class="gel c33 r3">
        <div class="hex-brick h1"></div>
        <div class="hex-brick h2"></div>
        <div class="hex-brick h3"></div>
      </div>
      <div class="gel c34 r3">
        <div class="hex-brick h1"></div>
        <div class="hex-brick h2"></div>
        <div class="hex-brick h3"></div>
      </div>
      <div class="gel c35 r3">
        <div class="hex-brick h1"></div>
        <div class="hex-brick h2"></div>
        <div class="hex-brick h3"></div>
      </div>
      <div class="gel c36 r3">
        <div class="hex-brick h1"></div>
        <div class="hex-brick h2"></div>
        <div class="hex-brick h3"></div>
      </div>
      <div class="gel c37 r3">
        <div class="hex-brick h1"></div>
        <div class="hex-brick h2"></div>
        <div class="hex-brick h3"></div>
      </div>
      
    </div>
  </div> 
<!-- Vente Lines Table -->
<table class="table table-hover" *ngIf="!isLoading">
    <thead>
      <tr>
        <th>Line number</th>
        <th>Article Sold</th>
        <th>Quantity Sold</th>
        <th>Sale price</th>
        <th>Total Price</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody formArrayName="venteLines">
      <tr *ngFor="let venteLine of venteLinesControls; let i = index;"  >
        <td><input type="number" [formControl]="venteLinesControls[i].get('id')" class="form-control" disabled></td>
        <td>
          <select id="articleId" [formControl]="venteLinesControls[i].get('articleId')"  class="form-control" required>
            <option [value]="null">Select article</option>
            <option [value]="article.id" *ngFor="let article of articles">{{article.libelle}}</option>
          </select>
        </td>
        <td><input type="text" [formControl]="venteLinesControls[i].get('qtySold')" class="form-control"></td>
        <td><input type="text" [formControl]="venteLinesControls[i].get('salePrice')" class="form-control"></td>

        <td><input
          type="text"
          [value]="(venteLinesControls[i].get('totalPrice').value | number:'1.2-2')+ ' MAD'"
          class="form-control"
          disabled
        ></td>
        <td><button class="btn rounded btn-outline-danger rounded-circle" (click)="deleteVenteLine(vente?.id,venteLinesControls[i].get('id').value)"><i class="bi bi-trash3"></i></button></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Total Quantity Sold  <input type="text" [value]="vente?.qtyTotal" class="form-control" disabled></td>
        <td>Total amount  <input type="text" [value]=" (vente?.totalAmount | number:'1.2-2')+' MAD'" class="form-control" disabled></td>
      </tr>
    </tbody>
</table>
<!--  -->
<!--  -->
<div class="row mb-4 mt-4">
  <div class="col-6 text-start">
    <button class="btn btn-outline-primary mb-3" type="submit">Valid</button>
  </div>
  <div class="col-6 text-end">
    <button type="button" class="btn btn-outline-secondary mt-3 " [routerLink]="['/saledetails/',vente.id]">Cancel</button>
  </div>
</div>
</form>
<!-- Vente Details Table -->
<!-- <table class="table">
    <thead>
      <tr>
        <th>Sale code</th>
        <th>Client Name</th>
        <th>Date Vente</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ vente.id }}</td>
        <td>{{ vente.client.fName }} {{ vente.client.lName }}</td>
        <td>{{ vente.dateVente | date: 'dd/MM/yyyy' }}</td>
      </tr>
    </tbody>
  </table> -->
  
  <!-- Vente Lines Table -->
  <!-- <table class="table table-hover">
    <thead>
      <tr>
        <th>Line nubmer</th>
        <th>Article Sold</th>
        <th>Quantity Sold</th>
        <th>Total Price</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let venteLine of vente.venteLines">
        <td >{{ venteLine.id }}</td>
        <td>{{ venteLine.articlelebelle }}</td>
        <td>{{ venteLine.qtySold }}</td>
        <td>{{ venteLine.totalPrice }}</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Total Quantity Sold = {{vente.qtyTotal}}</td>
        <td> Total amount = {{ vente.totalAmount }} DH</td>
      </tr>
    </tbody>
  </table>
   -->
  
<abp-modal class="modal-dialog modal-dialog-centered modal-dialog-scrollable" [(visible)]="isModalOpen">
  <ng-template #abpHeader>
    <h3>New sale line</h3>
  </ng-template>
  
  <ng-template #abpBody>
  <form [formGroup]="venteLineForm">
    <table class="table">
      <thead>
        <th>Article</th>
        <th>Quantity</th>
        <th></th>
      </thead>
      <tbody>
        <td>
          <select formControlName="articleId" class="form-control">
            <option [ngValue]="null">Select Article</option>
            <option *ngFor="let article of articles" [ngValue]="article.id">{{ article.libelle }}</option>
          </select>
        </td>
        <td><input formControlName="qtySold" class="form-control" /></td>
        <td ><input formControlName="totalPrice" class="form-control" type="hidden" disabled/> </td>
      </tbody>
    </table>
  </form>
  </ng-template>

  <ng-template #abpFooter>
    <button type="button" class="btn btn-outline-secondary" abpClose>Close</button>
      <!--added save button-->
    <button class="btn btn-outline-primary " (click)="addVenteline()" [disabled]="this.venteLineForm.invalid" >
      <i class="fa fa-check mr-1"></i>
      Valid
    </button>
  </ng-template>
</abp-modal>