<div class="container">
  <div class="p-5 text-center">
    
    <h1 class="text-primary"><i class="fas fa-rocket" aria-hidden="true"></i> {{ '::Welcome' | abpLocalization }}</h1>

    <h5 class="m-1 text-primary">
      Your, <strong><i class="text-warning">E</i>Products </strong>sale management is
      ready!
    </h5>
  </div>
</div>
<!--  -->
<div class="row">
  <div class="text-center">
  <a routerLink="/ventes" class="btn btn-warning btn-lg text-white"><i class="bi bi-box-arrow-right"></i> Start Sale in sale side</a> 
  </div>
</div>
<br>
<!-- articles -->
<div class="row mt-5 mb-5">
  <!-- <h2 class="text-center text-warning">Articles list</h2> -->
<div *ngFor="let article of articles; let i=index;" class="col-md-4">
  <div class="card hover-card" [routerLink]="['/articleDetail/', article.id]">
    <img [src]="article.image" id="imgeHover" alt="">
    <div class="text">
      <h2 class="text-center">{{article.libelle}}</h2>
      <p class="text-center">{{article.description}}</p>
      <p class="text-center"><b>price:</b> {{article.price}}.00 DH</p>
      <p class="text-center"><b>Quantity:</b> {{article.quantityinStock}} {{article.libelle}}</p>
    </div>
  </div>
</div>
</div>









