/* Styles for the home component */
body{
    background-color: #ffe6b3; /* A soft pastel yellow */
  }
  .card{
    margin: 50px;
    width: 300px;;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
    position: relative;
  }
  .hover-card {
    transition: transform 0.4s; /* Add a smooth transition effect */
  }
  
  .hover-card:hover {
    transform: translateY(-5px); 
    cursor: pointer;
  }
  #carouselExampleCaptions {
    height: 700px;
  }
  .carousel-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5); 
    color: white; 
    padding: 20px; 
    font-size: large;
    font-weight: bold;/* padding around the text */
}
  
  
  
  
